# 0. Hello, Python! (Basic Data Types)
# 0. Hello, Python! (Basic Data Types)
This is a Python refresher notebook. It covers the basic data types in Python.

In [8]:
# --- Numeric Types ---

integer:3

In [1]:
# Integer
num = 3
print(f"integer:{num}")

integer:3

In [3]:
a=5
print("integer",a)

integer 5

In [2]:
a=4
print(f"integer:{a}")

integer:4

In [6]:
# Float
num=4.5
print("flott:",num)

flott: 4.5

In [9]:

# Complex
c = 2+3j
print(f"complex",c)

complex (2+3j)

In [45]:


# --- String and Character ---
# String
string1="hello"
string2="toto"
coco= string1 + " "+string2
print(coco)
len(coco)
string1[3]
string2[-2]
string2[1:3]
string1.upper()

hello toto

'HELLO'

In [34]:
if "tooo" in coco:
    print("found")
else:
    print("nooooo")

nooooo

In [46]:
cocoN=coco.replace("toto","python")
print(cocoN)

hello python

In [50]:
cocoN1=cocoN.split(" ")
print(cocoN1)

['hello', 'python']

In [51]:
cocoN2= "-".join(cocoN1)
print(cocoN2)

hello-python

In [52]:
cocoN3= string1*5
print(cocoN3)

hellohellohellohellohello

In [53]:



# Character (In Python, a single character is just a string of length 1)
char='a'

# --- Boolean ---
# Boolean values

x==y

In [60]:
x=20
y=4
print(x!=y)

True

In [67]:

# --- Arrays (Lists) ---
# List
array=[1,2,3,4,5,6,7]
array[2]=10
print(f"new array is,{array}")

new array is,[1, 2, 10, 4, 5, 6, 7]

In [79]:
array.append(9)
array.remove(2)
print(array)

[1, 4, 5, 6, 2, 2, 1, 1, 9, 9, 9, 9, 9, 9]

In [81]:
array=[1,2,3,4,5,6]
array.insert(2,88)
print(array)

[1, 2, 88, 3, 4, 5, 6]

In [ ]:

# Accessing list elements
print(f"Mixed arr first item:{mixed_arr[0]}")

# Adding to a list


# --- Objects (using classes) ---
class student :
    def _init_(self,name,id):
        self.name = id
    def greet(self):
        print(f"Hello, Im {self.name} aand my id is  {self.id}.")


# Create an object of the Person class
s1 = Student("junaid",202227347

In [3]:
class Food:
  def __init__(self,name):
    self.name= name
  def __init__(self, name='name', color = 'red', size = '0',price ='34')
    self.name=Nsmrrhhd
    self.color=reeedd
    self.size=s09rs90
    self.price= rr3r3
    self.quantity=1
  
  def printinfo(self):
    if self.name == '':
      print("i am nothing)")
    else:
      print("i am a",self.name)
      print(f"I am a {self.name}.")

SyntaxError: expected ':' (3485937129.py, line 4)

In [11]:
class Food:
  def __init__(self, name):
    self.name= name
  def __init__(self, name='Nameee', color = 'bluuu', size = '0',price ='34'):
    self.name=name
    self.color=color
    self.size=size
    self.price= price
    self.quantity=1
  
  def printinfo(self):
    if self.name == '':
      print("i am nothing)")
    else:
      print("i am a",self.name)
      print(f"I am a {self.name}.")

In [ ]:
f1 = Food()
f2 = Food('banana')
f3 = Food('orange','orange')

In [ ]:
)


# --- Type Conversion ---
# Convert integer to float


# Convert float to integer (truncates the decimal part)


# Convert boolean to integer


# --- Type Checking ---

# 1. Hello, World! (First Program)

This is a simple introduction to Python syntax and the print() function.

In [ ]:
# Basic "Hello, World!" example

# 2. Basic Math Operations

Introduce variables and arithmetic operators.

In [ ]:
# Simple math operations


# Addition

# Subtraction

# Multiplication

# Division

# 3. Getting User Input

Demonstrates how to interact with the user via input().

In [13]:
# Getting user input and using it
name = input("whats ur name .....")
print("Hello" + name + ">")


# Working with numbers

Helloyyyy>

# 4. If Statements (Conditionals)

Introduce the concept of decision-making using if, else, and elif.

In [ ]:
# Basic if-else example

# 5. For Loop (Iteration)

A basic introduction to loops with a for loop that repeats a certain number of times.

In [ ]:
# Basic for loop example

# 6. While Loop (Iteration with Condition)

Demonstrates a loop that runs until a condition is met.

In [16]:
# Basic while loop example
for x in range(4,300,7):
    print("Loop iteration",x+1)

Loop iteration 5
Loop iteration 12
Loop iteration 19
Loop iteration 26
Loop iteration 33
Loop iteration 40
Loop iteration 47
Loop iteration 54
Loop iteration 61
Loop iteration 68
Loop iteration 75
Loop iteration 82
Loop iteration 89
Loop iteration 96
Loop iteration 103
Loop iteration 110
Loop iteration 117
Loop iteration 124
Loop iteration 131
Loop iteration 138
Loop iteration 145
Loop iteration 152
Loop iteration 159
Loop iteration 166
Loop iteration 173
Loop iteration 180
Loop iteration 187
Loop iteration 194
Loop iteration 201
Loop iteration 208
Loop iteration 215
Loop iteration 222
Loop iteration 229
Loop iteration 236
Loop iteration 243
Loop iteration 250
Loop iteration 257
Loop iteration 264
Loop iteration 271
Loop iteration 278
Loop iteration 285
Loop iteration 292
Loop iteration 299

# 7. Basic Function Example

Introducing how to write and call functions.

In [ ]:
# Function to greet the user

# 8. Simple Temperature Converter

Combines input, conditionals, and functions in a real-world example.

In [ ]:
# Function to convert Celsius to Fahrenheit


# Get temperature from user

# 9. Simple Guessing Game

A fun exercise that involves loops, conditionals, and randomness.

In [ ]:

# Generate a random number between 1 and 10


# Keep asking the user until they guess correctly

# 10. FizzBuzz (Classic Example)

A popular coding challenge that helps beginners practice conditionals and loops.

**Problem Statement:**

Print numbers from 1 to n, where n is a positive integer. For each number:

- Print "Fizz" if the number is divisible by 3.
- Print "Buzz" if the number is divisible by 5.
- Print "FizzBuzz" if the number is divisible by both 3 and 5.
- Print the number itself if it is not divisible by either 3 or 5.

In [ ]:
# FizzBuzz example

# Bonus: Recursive Fibonacci Function

A more advanced example that demonstrates recursion.

In [ ]:
def fibonacci(n):
    # Base cases

        # Recursive case: F(n) = F(n-1) + F(n-2)
        

# Example usage